<h2 id="title">Albums for <%= @artist.name %></h2>

<p><a href="/artist/<%= @artist.id %>/new">Click here to register new album</a></p>
<p><a href="/artist/inventory">Click here to check the full inventory<br> and order more stock</a></p>

<div class="grid">
  <% for album in @albums do %>
    <div class="grid-item">
    <p>Title: <%= album.title %></p>
    <p>Genre: <%= album.genre %></p>
    <p><%= album.stock_level %></p>
    <p>Cost: £<%= album.cost %></p>
    <p>Sale price: £<%= album.sale %></p>

    <form action="/album/<%= album.id %>/edit">
      <input type="submit" value="Edit Album Info">
    </form>

    <form action="/album/<%= album.id%>/delete" method="post">
      <input type="submit" value="Delete Album">
    </form>
    
    <p><img src="<%= album.artwork %>" alt="album-artwork" id="album_art"></p>
    </div>
  <% end %>
</div>
